{% load staticfiles %}

{% include "header.html" %}

<div class="litetooltip-hotspot-wrapper" style="max-width: 2000px">
<div class="litetooltip-hotspot-container" style="padding-bottom: 60%">
<img src="{% static "static/img/area.png" %}" class="img-responsive">
<div class="hotspot" style="top: 16.583333333333332%; left: 18.8%; width: 21.95%; height: 21.916666666666668%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="1" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="1" data-padding="1" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="18.8" data-hotspot-y="16.583333333333332" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
    <div class="data-container">Tarefas</div>
</div>
<div class="hotspot" style="top: 19.833333333333332%; left: 44.5%; width: 10.95%; height: 15.583333333333332%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="2" data-location="top" data-template="" data-templatename="" data-opacity="1" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="44.5" data-hotspot-y="19.833333333333332" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Cronograma</div>
</div>
<div class="hotspot" style="top: 40%; left: 25.6%; width: 13.5%; height: 15.333333333333332%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="3" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="25.6" data-hotspot-y="40" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Trabalhar</div>
</div>

<div class="hotspot blink" style="top: 23.666666666666668%; left: 56.65%; width: 1.4500000000000002%; height: 2.3333333333333335%; background: #ff9c1c; border: 1px solid transparent; border-radius: 20px; opacity: 0.8" id="4" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="56.65" data-hotspot-y="23.666666666666668" data-hotspot-blink="true" data-hotspot-bgcolor="#f79992" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="20">
<div class="data-container">Lembretes &amp; Anotações</div>
</div>

<div class="hotspot" style="top: 18.416666666666668%; left: 60.45%; width: 19.55%; height: 18.25%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="5" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="60.45" data-hotspot-y="18.416666666666668" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Resultados</div>
</div>

<div class="hotspot" style="top: 43%; left: 71.95%; width: 7.8%; height: 8%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="6" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="71.95" data-hotspot-y="43" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Ferramentas de comunicação</div>
</div>

<div class="hotspot" style="top: 49.25%; left: 61%; width: 8.15%; height: 6.166666666666667%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="7" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="61" data-hotspot-y="49.25" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Diário de registros pessoal</div>
</div>

<div class="hotspot" style="top: 59.66666666666667%; left: 26.1%; width: 12.5%; height: 8.333333333333332%; background: transparent; border: 1px solid transparent; border-radius: 0px; opacity: 0.8" id="8" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="26.1" data-hotspot-y="59.66666666666667" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="0">
<div class="data-container">Documentos compilados</div>
</div>

<div class="hotspot" style="top: 90.16666666666666%; left: 47.75%; width: 4.45%; height: 6.583333333333333%; background: transparent; border: 1px solid transparent; border-radius: 20px; opacity: 0.8" id="9" data-location="top" data-template="" data-templatename="" data-opacity="0.8" data-backcolor="#000000" data-textcolor="#ffffff" data-textalign="center" data-margin="5" data-padding="10" data-width="0" data-delay="0" data-trigger="hoverable" data-issticky="true" data-hotspot-x="47.75" data-hotspot-y="90.16666666666666" data-hotspot-blink="false" data-hotspot-bgcolor="transparent" data-hotspot-bordercolor="transparent" data-hotspot-borderradius="20">
<div class="data-container">Voltar</div>
</div>

</div>
</div>

<script type="text/javascript">
$('.litetooltip-hotspot-wrapper .hotspot').each(function () {
    $(this).LiteTooltip({ title: $(this).find('.data-container').html() });
 });

var spyElement = document.getElementById("1");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#tarefa";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("2");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "/cronograma/";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("3");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#Trabalho";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("4");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("5");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("6");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("7");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("8");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "#";
    if(oldMousedown) oldMousedown();
};

var spyElement = document.getElementById("9");
var oldMousedown = spyElement.onmousedown;
spyElement.onmousedown = function () {
    window.location.href = "/espacos/";
    if(oldMousedown) oldMousedown();
};

</script>

{% include "footer.html" %}





