{% include "header.html" %}

<form method="post" action="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/atividades_campo/salvar/">
  {% csrf_token %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li>
                <a href="/lobby/{{ slug }}/">Início</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidades/">Unidades</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/detalhes/">Unidade {{ unidade }}</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/item/{{ itemslug }}">{{ itemslug }}</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/atividades_campo/">
                    Atividades de Campo</a>
              </li>
                <li class="active">Nova atividade de campo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive"
                 src="http://maps.googleapis.com/maps/api/staticmap?center=Tombouctou,Mali&amp;zoom=12&amp;size=200x200&amp;sensor=false">
          </div>
          <div class="col-md-6">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Nome da visita de campo</label>
                <input class="form-control" id="exampleInputEmail1" name="titulo"
                type="text">
              </div>
              <div class="form-group">
                <label class="control-label">O que foi feito?</label>
                <textarea class="form-control" name="descricao"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label class="control-label">Resumo da visita</label>
                <textarea class="form-control" name="resumo"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Contribuições da visita para o projeto</label>
                <textarea class="form-control" name="relato"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit">Salvar</button>
          </div>
        </div>
      </div>
    </div>

</form>

{% include "footer.html" %}