{% include "header.html" %}

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li>
                <a href="/lobby/{{ slug }}/">Início</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidades/">Unidades</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/detalhes/">Unidade {{ unidade }}</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/item/{{ itemslug }}">{{ itemslug }}</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/atividades_campo/">
                    Atividades de Campo</a>
              </li>
                <li class="active">Nova atividade de campo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<form method="post" action="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/atividades_campo/salvar/">
  {% csrf_token %}

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Qual o nome da atividade de campo?</label>
                <input class="form-control" id="exampleInputEmail1" name="titulo">
              </div>
              <div class="form-group">
                <label class="control-label">Qual é o objetivo da atividade de campo?</label>
                <textarea class="form-control" name="descricaoText"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Resumo da atividade de campo</label>
                <textarea class="form-control" name="resumoText"></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Contribuições da atividade de campo ao projeto</label>
                <textarea class="form-control" name="relatoText"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</form>

{% include "footer.html" %}