{%include "header.html" %}

<div class="section">
    <div class="background-image" style="background-image : url('{{ STATIC_URL }}../static/img/Rocket.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label">Nome completo</label>
                        <input class="form-control" type="text" placeholder="Digite seu nome completo">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputEmail1">Endereço de email</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Digite seu email" type="email">
                    </div><div class="form-group">
                    <label class="control-label" for="exampleInputPassword1">Senha</label>
                    <input class="form-control" id="exampleInputPassword1" placeholder="Escolha uma senha" type="password">
                </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" onchange="document.getElementById('concordo').disabled = !this.checked;">Concordo com os termos de serviço</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default" disabled= "disabled" id="concordo">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%include "footer.html" %}