{% load static %}

<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css' rel='stylesheet' />
<link href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js'></script>
<script src="{% static 'static/js/jquery.cookie.js' %}"></script>
<script src="{% static 'static/js/jquery-ui.custom.min.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang-all.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel='stylesheet' />
<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel='stylesheet' />
<script>

	$(document).ready(function() {


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true // maintain when user navigates (see docs on the renderEvent method)
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


		/* initialize the calendar
		-----------------------------------------------------------------*/

		$('#calendar').fullCalendar({
            events:"/showcronograma/",
            lang: 'pt-br',
            eventLimit: true,
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar
			drop: function() {
				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}
			}
		});
	});
</script>

<style>

	body {

		text-align: center;
	}

	#wrap {
		width: 1100px;
		margin: 0 auto;
	}

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}

	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#calendar {
		float: right;
		width: 900px;
	}

</style>
</head>
<body>
 <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <p class="navbar-right navbar-text"><a href="/admin/logout">Sair </a></p>
          <ul class="nav navbar-left navbar-nav">
            <li class="">
              <a href="/espacos/"><i class="fa fa-fw fa-home"></i>Página Inicial</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-at"></i>Mensagens</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-fw fa-user"></i>Meu perfil</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star fa-fw"></i>Meus projetos</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
              <p class="navbar-text navbar-right">Olá, {{ user.username }} </p>
          {% else %}
              <p class="navbar-text navbar-right">Olá!
                  <a href="#" class="navbar-link" data-toggle="modal" data-target="#login">você pode se logar aqui</a>
              </p>
          {% endif %}
        </div>
      </div>
    </div>

  <div class="modal fade" id="login">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Entrar</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label">Nome de usuário</label>
                <input class="form-control" type="text" name="username">
              </div>
              <div class="form-group">
                <label class="control-label">Senha</label>
                <input class="form-control" type="password" name="password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            <button type="submit" class="btn btn-primary">OK</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </div>
      </div>
    </div>

 <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb">
              <li>
                <a href="/lobby/{{ slug }}/">Início</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidades/">Unidades</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/detalhes/">Unidade {{ unidade }}</a>
              </li>
              <li class="active">Meu cronograma</li>
            </ul>
          </div>
        </div>
      </div>
 </div>


<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <div id='external-events'>
		          <h4>Meus itens a investigar</h4>
                  {% for i in itensSemPrazo %}
			          <div class='fc-event'>{{ i.conhecimentoPrevio }}</div>
                  {% endfor %}
		          <p>
			         <input type='checkbox' hidden checked="True" id='drop-remove' />
		          </p>
		     </div>
       </div>
          <div class="col-md-8">
              <div id='calendar'></div>
          </div>
        </div>
      </div>
</div>


<script type ="text/javascript">

        function myFunction() {
            var csrftoken = $.cookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var myEvents = [];
            var events = $('#calendar').fullCalendar('clientEvents');
            //quando se adiciona um objeto novo na tela (item pendente) ocorre cyclic error porque o
            //array possui duas posicoes 0. Para normalizar o array:
            $.each(events, function(i, v) {
                var evt = {};
                evt.title = v.title;
                evt.start = v.start;
                evt.end = v.end;
                myEvents.push(evt);
            });

            $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: {eventsJson: JSON.stringify(myEvents)},
                    url: '/salvacronograma/',
                    success: function (data) {
                        alert('Cronograma alterado com sucesso!');
                        console.log('Salvou com sucesso')

                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText + err); // provide a bit more info about the error to the console
                        alert(xhr.status + ": " + xhr.responseText + err); //para exibir na tela o erro
                    }

                });
        }
</script>

    <button class="btn btn-primary" id="demo" onclick="myFunction()"><i class="fa fa-fw fa-check"></i>Salvar</button>

</body>
</html>
