{% load static %}

<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'static/js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'static/js/jquery.qtip.min.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
        <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/jquery.qtip.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/metisMenu.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/sb-admin-2.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/litetooltip.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/rateit.css' %}" rel="stylesheet">
        <script src="{% static 'static/js/jquery.rateit.js' %}"></script>
        <script src="{% static 'static/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'static/js/litetooltip.min.js' %}"></script>
        <script src="{% static 'static/js/metisMenu.js' %}"></script>
        <script src="{% static 'static/js/sb-admin-2.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head><body>

    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation"
      style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AProAp: Espaço de trabalho</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
              </li>
            </ul>
            <!-- /.dropdown-messages -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-tasks">
              <li>
                <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">{{ mediaTarefas }}% Completa</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ mediaTarefas }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ mediaTarefas }}%">
                                            <span class="sr-only">{{ mediaTarefas }}% Completa</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
              </li>
            </ul>
            <!-- /.dropdown-tasks -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
              </li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
                <!-- /input-group -->
              </li>
              <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Resultados da investigação</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Discussões<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="flot.html">Fórum</a>
                  </li>
                  <li>
                    <a href="morris.html">Votação</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Validações e respostas<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/elementos_textuais/">Artigos, documentos, textos</a>
                  </li>
                  <li>
                    <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/mapas_conceituais/editor/">Editor de Mapas Conceituais</a>
                  </li>
                  <li>
                    <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/multimidia/">Multimídia</a>
                  </li>
                  <li>
                    <a href="/projeto/{{ slug }}/{{ unidade }}/{{ itemslug }}/investigacoes_campo/">Investigação de campo</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">

            <ul class="breadcrumb">
              <li>
                <a href="/lobby/{{ slug }}/">Início</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidades/">Unidades</a>
              </li>
              <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/detalhes/">Unidade {{ unidade }}</a>
              </li>
              <li class="active">{{ vinculoItem.conhecimentoPrevio }}</li>
            </ul>

            <h1 class="page-header">Quadro de informações</h1>
              <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#concluirItem">Concluir item</a>
              <form method="post" action="/concluir_item/{{ slug }}/{{ unidade }}/{{ itemslug }}/">
            {% csrf_token %}
            <div class="modal fade" id="concluirItem">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Concluir item</h4>
                        </div>
                      <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label">Deseja marcar o item atual como concluído?</label>
                                 <label class="control-label">Isto significa que o item está respondido e
                                     ficará como concluído na unidade. É possível reabrir o item caso necessário.</label>
                            </div>
                        </form>
                      </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Fechar</a>
                        <button class="btn btn-primary" type="submit">OK</button>
                    </div>
                    </div>
                </div>
            </div>
          </form>

              <div>
                   <p>
                       <strong>Andamento da validação e resposta a este item</strong>
                       <span class="pull-right text-muted">{{ mediaTarefas }}% Completo</span>
                   </p>
                   <div class="progress progress-striped active">
                       <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ mediaTarefas }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ mediaTarefas }}%">
                           <span class="sr-only">{{ mediaTarefas }}% Completo</span>
                       </div>
                   </div>
              </div>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-file-text fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ producoes }}</div>
                    <div>Textos produzidos</div>
                  </div>
                </div>
              </div>
              <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ qtdTarefasPendentes }}</div>
                    <div>Tarefas Pendentes</div>
                  </div>
                </div>
              </div>
              <a href="#tarefaspendentes">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ qtdTarefasFinalizadas }}</div>
                    <div>Atividades concluídas</div>
                  </div>
                </div>
              </div>
              <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ qtdajudantes }}</div>
                    <div>Ajudando este item</div>
                  </div>
                </div>
              </div>
              {% if vinculoItem.precisaAjuda == 0 %}
              <a href='#' data-toggle="modal" data-target="#confirmaAjuda">
                            <div class="panel-footer">
                                <span class="pull-left">Precisa de ajuda?</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
              </a>
              {% else %}
              <a href='#'>
                            <div class="panel-footer">
                                <span class="pull-left">Quem está ajudando</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa -o fa-fw fa-calendar"></i>Tarefas deste item
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tarefa</th>
                      <th>Quem está fazendo</th>
                      <th>Status</th>
                      <th>Categoria</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for tarefa in tarefasAndamento %}
                    <tr>
                       <td><a href="#"> {{ tarefa.tarefaDesc }}</a></td>
                       <td>{{ tarefa.responsavel }}</td>
                        {% if tarefa.status == 1 %}
                        <td>Completada</td>
                        {% else %}
                        <td>Sem resultados ainda</td>
                        {% endif %}
                       <td>{{ tarefa.categoria }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default" id="tarefaspendentes">
              <div class="panel-heading">
                <i class="fa -o fa-fw fa-bullhorn"></i>Tarefas pendentes
                <div class="pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Menu
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li>
                        <a href="#" data-toggle="modal" data-target="#novatarefa">Nova tarefa</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="list-group">
                  {% for i in tarefasPendentes %}

                      <form class="form-horizontal" method="post" action="/vincular_tarefa/{{ slug }}/{{ unidade }}/{{ itemslug }}/{{ i.slugTarefa }}/">
                      {% csrf_token %}
                      <div class="modal fade" id="confirmapendente{{ i.id }}">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                     <h4 class="modal-title">Adicionar tarefa</h4>
                                  </div>
                                 <div class="modal-body">
                                     <p>Deseja adicionar tarefa sob seus cuidados?</p>
                                 </div>
                                 <div class="modal-footer">
                                     <a class="btn btn-default" data-dismiss="modal">Fechar</a>
                                      <button type="submit" class="btn btn-primary">Adicionar</button>
                                 </div>
                              </div>
                          </div>
                      </div>
                      </form>

                      <li class="list-group-item" id="{{ i.id }}">{{ i.tarefaDesc }}&nbsp;
                          <a class="glyphicon glyphicon-plus" title="adicionar esta tarefa aos seus cuidados"
                             href="#" data-toggle="modal" data-target="#confirmapendente{{ i.id }}"></a></li>
                  {% endfor %}
                </ul>
                <ul class="pagination">
                  <li>
                    <a href="#">Prev</a>
                  </li>
                  <li>
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                  <li>
                    <a href="#">Next</a>
                  </li>
                </ul>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>Ajudando neste item</div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="list-group">
                    {% for i in ajudantes %}
                        <a class="list-group-item">
                           <i class="fa fa-comment fa-fw"></i> {{ i.responsavel }}
                           <span class="pull-right text-muted small"><em>4 minutes ago</em></span>
                    {% endfor %}
                  </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">Visualizar participações</a>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.panel -->
            <div class="chat-panel panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>Sala de conversas assíncrona
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="chat">
                {% for mens in conversas %}
                  <li class="left clearfix">
                    <span class="chat-img pull-left">
                      <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">{{ mens.usuario }}</strong>
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i>{{ mens.dataHora }}</small>
                      </div>
                      <p>{{ mens.mensagem }}</p>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </div>
              <!-- /.panel-body -->
            <form method="post" action="/postar_conversa/{{ slug }}/{{ unidade }}/{{ itemslug }}/">
            {% csrf_token %}
              <div class="panel-footer">
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" name="mensagem" placeholder="Digite sua mensagem...">
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" type="submit">Enviar</button>
                  </span>
                </div>
              </div>
              <!-- /.panel-footer -->
            </form>
            </div>
            <!-- /.panel .chat-panel -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>


<form method="post" action="/inserir_tarefa/{{ slug }}/{{ unidade }}/{{ itemslug }}/">
{% csrf_token %}
<div class="modal fade" id="novatarefa">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Inserir nova tarefa</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label">Título da tarefa</label>
                <input class="form-control" type="text" name="titulo">
              </div>
              <div class="form-group">
                <label class="control-label">Tipo de investigação</label>
                <select class="form-control" name="categoria">
                  <option>Elemento textual</option>
                  <option>Matéria, post, informativo</option>
                  <option>Investigação de campo</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            <button class="btn btn-primary" type="submit">OK</button>
          </div>
        </div>
      </div>
</div>
</form>
<form method="post" action="/precisa_ajuda/{{ slug }}/{{ unidade }}/{{ itemslug }}/">
{% csrf_token %}
    <div class="modal fade" id="confirmaAjuda">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Confirmação</h4>
          </div>
          <div class="modal-body">
            <p>Deseja marcar este item como "preciso de ajuda"? Se sim, ele ficará visível
              aos seus colegas de unidade que poderão ajudar.</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            <button type="submit" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
</form>

<script>$('[title]').qtip();</script>
</html>