{% load static %}

<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'static/js/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'static/js/jquery.qtip.min.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
        <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/jquery.qtip.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/metisMenu.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/sb-admin-2.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/litetooltip.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/rateit.css' %}" rel="stylesheet">
        <script src="{% static 'static/js/jquery.rateit.js' %}"></script>
        <script src="{% static 'static/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'static/js/litetooltip.min.js' %}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head><body>

    <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation"
      style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AProAp: Painel de controle da unidade</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
              </li>
            </ul>
            <!-- /.dropdown-messages -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-tasks">
            {% for item in desteUsuario %}
            <li>
                <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/item/{{ item.slugConhecimento }}/">
                <div>
                    <p>
                    <strong>{{ item.conhecimentoPrevio }}</strong>
                    <span class="pull-right text-muted">{{ item.status }}% completo</span>
                    </p>
                    <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ item.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item.status }}%">
                    <span class="sr-only">{{ item.status }}% completo</span>
                    </div>
                    </div>
                    </div>
                            </a>
            </li>
              <li class="divider"></li>
            {% endfor %}
            </ul>
            <!-- /.dropdown-tasks -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
              </li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
                <!-- /input-group -->
              </li>
              <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Principal</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Discussões<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="flot.html">Fórum</a>
                  </li>
                  <li>
                    <a href="morris.html">Votação</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
              </li>
              <li>
                <a href="/areaDeTrabalho/{{ espacoId }}/{{ unidade }}/"><i class="fa fa-edit fa-fw"></i>Meu Espaço de Trabalho</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="panels-wells.html">Panels and Wells</a>
                  </li>
                  <li>
                    <a href="buttons.html">Buttons</a>
                  </li>
                  <li>
                    <a href="notifications.html">Notifications</a>
                  </li>
                  <li>
                    <a href="typography.html">Typography</a>
                  </li>
                  <li>
                    <a href="icons.html"> Icons</a>
                  </li>
                  <li>
                    <a href="grid.html">Grid</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
              {% if semCronograma > 0 %}
                  <div class="alert alert-danger alert-dismissable">
                  <strong>Atenção!&nbsp;</strong>Você tem itens a investigar que não estão no cronograma.
                   Clique <a href="/cronograma/{{ user.username }}/">aqui</a> para resolver</div>
              {% endif %}
            <h1 class="page-header">Quadro de informações</h1>
              <div>
                   <p>
                       <strong>Status geral da unidade</strong>
                       <span class="pull-right text-muted">{{ mediaDaUnidade }}% Completo</span>
                   </p>
                   <div class="progress progress-striped active">
                       <div class="progress-bar progress-bar-info" role="progressbar"
                            aria-valuenow="{{ mediaDaUnidade }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ mediaDaUnidade }}%">
                           <span class="sr-only">{{ mediaDaUnidade }}% Completo</span>
                       </div>
                   </div>
              </div>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Discussões</div>
                  </div>
                </div>
              </div>
              <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ qtdPendentes }}</div>
                    <div>Itens pendentes</div>
                  </div>
                </div>
              </div>
              <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-check-circle fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">124</div>
                    <div>Atividades concluídas</div>
                  </div>
                </div>
              </div>
              <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                    <div class="huge">{{ qtdAjuda }}</div>
                    <div>Precisam de ajuda</div>
                  </div>
                </div>
              </div>
              <a href="#precisamDeAjuda">
                            <div class="panel-footer">
                                <span class="pull-left">Ver detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa -o fa-fw fa-calendar"></i>Itens desta unidade
                <div class="pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Ações
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li>
                        <a href="#">Mudar status do item</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Investigador</th>
                      <th>Ajudantes</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in todos %}
                    <tr>
                      <td><a href="/projeto/{{ slug }}/unidade/{{ unidade }}/item/{{ item.slugConhecimento }}/">{{ item.conhecimentoPrevio }}</a></td>
                      <td>{{ item.investigador }}</td>
                      <td>0</td>
                      <td>Em andamento - {{ item.status }}%</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa -o fa-fw fa-bullhorn"></i>Validações e respostas pendentes
                <div class="pull-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">Actions
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li>
                        <a href="#">Adicionar novo item pendente</a>
                      </li>
                      <li>
                        <a href="#">Another action</a>
                      </li>
                      <li>
                        <a href="#">Something else here</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="list-group">
                  {% for i in pendentes %}

                      <form class="form-horizontal" method="post" action="/vincular/{{ espacoId }}/{{ unidade }}/{{ i.id }}/">
                      {% csrf_token %}
                      <div class="modal fade" id="confirmapendente{{ i.id }}">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                     <h4 class="modal-title">Adicionar item</h4>
                                  </div>
                                 <div class="modal-body">
                                     <p>Deseja adicionar item a ser investigado sob seus cuidados?</p>
                                 </div>
                                 <div class="modal-footer">
                                     <a class="btn btn-default" data-dismiss="modal">Fechar</a>
                                      <button type="submit" class="btn btn-primary">Adicionar</button>
                                 </div>
                              </div>
                          </div>
                      </div>
                      </form>

                      <li class="list-group-item" id="{{ i.id }}">{{ i.conhecimentoPrevio }}&nbsp;
                          <a class="glyphicon glyphicon-plus" title="adicionar este item aos seus cuidados"
                             href="#" data-toggle="modal" data-target="#confirmapendente{{ i.id }}"></a></li>
                  {% endfor %}
                </ul>
                <ul class="pagination">
                  <li>
                    <a href="#">Prev</a>
                  </li>
                  <li>
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                  <li>
                    <a href="#">Next</a>
                  </li>
                </ul>
              </div>
              <!-- /.panel-body -->
            </div>

                      <!-- /.panel -->
            <div class="panel panel-default" id="precisamDeAjuda">
              <div class="panel-heading">
                <i class="fa -o fa-fw fa-life-bouy"></i>Itens que precisam de ajuda
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="list-group">
                  {% for i in ajuda %}
                      <a href="/projeto/{{ slug }}/unidade/{{ unidade }}/item/{{ i.slugConhecimento }}/"> <li class="list-group-item">{{ i.conhecimentoPrevio }}</li> </a>
                  {% endfor %}
                </ul>
                <ul class="pagination">
                  <li>
                    <a href="#">Prev</a>
                  </li>
                  <li>
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                  <li>
                    <a href="#">4</a>
                  </li>
                  <li>
                    <a href="#">5</a>
                  </li>
                  <li>
                    <a href="#">Next</a>
                  </li>
                </ul>
              </div>
              <!-- /.panel-body -->
            </div>


            <!-- /.panel -->
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i>Notificações</div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                  <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.panel -->
            <div class="chat-panel panel panel-default">
              <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>Chat
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu slidedown">
                    <li>
                      <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                    </li>
                    <li>
                      <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                    </li>
                    <li>
                      <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                    </li>
                    <li>
                      <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <ul class="chat">
                  <li class="left clearfix">
                    <span class="chat-img pull-left">
                      <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i>12 mins ago</small>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                        ornare dolor, quis ullamcorper ligula sodales.</p>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <span class="chat-img pull-right">
                      <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <small class=" text-muted">
                          <i class="fa fa-clock-o fa-fw"></i>13 mins ago</small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                        ornare dolor, quis ullamcorper ligula sodales.</p>
                    </div>
                  </li>
                  <li class="left clearfix">
                    <span class="chat-img pull-left">
                      <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font">Jack Sparrow</strong>
                        <small class="pull-right text-muted">
                          <i class="fa fa-clock-o fa-fw"></i>14 mins ago</small>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                        ornare dolor, quis ullamcorper ligula sodales.</p>
                    </div>
                  </li>
                  <li class="right clearfix">
                    <span class="chat-img pull-right">
                      <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <small class=" text-muted">
                          <i class="fa fa-clock-o fa-fw"></i>15 mins ago</small>
                        <strong class="pull-right primary-font">Bhaumik Patel</strong>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                        ornare dolor, quis ullamcorper ligula sodales.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.panel-body -->
              <div class="panel-footer">
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                  <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                  </span>
                </div>
              </div>
              <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
  </body>
<script>$('[title]').qtip();</script>
</html>