<div class="footer navbar-fixed-bottom">
<footer class="section section-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>O AProAp é um ambiente para realização de projetos de aprendizagem e mais amplamente,
                    um ambiente de aprendizagem baseada em projetos.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Sobre o Site</a>
                    </li><li>
                    <a href="#">Termos de Uso</a>
                </li><li><a href="#">Fale Conosco</a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</div>