{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AProAp - Ambiente para Projetos de Aprendizagem</title>

    <script src="{% static 'static/js/jquery.min.js' %}"></script>
    <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/bootstrap-custon-sabia.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'static/css/landing-page.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Início</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login/"><i class="fa fa-sign-in fa-fw"></i>Entrar</a>
                    </li>
                    <li>
                        <a href="#services">Serviços</a>
                    </li>
                    <li>
                        <a href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Bem-vindo ao AProAp!</h1>
                        <h3>Ambiente para Projetos de Aprendizagem</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.youtube.com/watch?v=LMCZvGesRz8" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">O que é PBL?</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/mfmarlonferrari/aproapv2" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="/cadastrar/" class="btn btn-default btn-lg"><i class="fa fa-check fa-fw"></i> <span class="network-name">Cadastre-se</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Exercite a curiosidade!</h2>
                    <p class="lead">A aprendizagem baseada em projetos utiliza a motivação dos estudantes
                        como catalisador das mudanças. Portanto, é natural que os projetos
                        sejam em si interessantes, motivadores e altamente construtivos, despertando o senso de
                        autonomia e tomada de decisões de cada envolvido, sendo ele um sujeito ativo na construção
                        do conhecimento</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'static/img/view.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Habilidades reais!</h2>
                    <p class="lead">Resolver um problema exige fatores comuns a qualquer ambiente, seja acadêmico ou real.
                    Aproximar os ambientes é desenvolver pessoas altamente preparadas a qualquer cenário, com habilidades úteis
                    necessárias ao mundo moderno.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static "static/img/Project-Based-Learning_Grafico.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Suporte tecnológico e pedagógico baseado na arquitetura de projetos de aprendizagem¹</h2>
                    <p class="lead">A arquitetura de projetos de aprendizagem prevê passos definidos e dinâmicos que vão desde
                        a escolha do foco do projeto até seu fechamento. O AProAp possibilita o suporte de ferramentas
                        para apoio na construção, colaboração e compartilhamento de conteúdos, auxiliando também o professor
                        na tarefa de acompanhar e tomar decisões no andamento do projeto.</p>
                    <h5>¹Proposto por Fagundes et al. 1999</h5>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static "static/img/Bewerbung-optimieren-Tipps-Beispiele.jpg" %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Participe da nossa ideia!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/mfmarlonferrari/aproapv2" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">Entrar</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Serviços</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contato</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyleft &copy; 2015. Código liberado sob a licença GNU-GPLv2</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
