{% load staticfiles %}

<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'static/js/jquery.min.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
        <link href="{% static 'static/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/bootstrap-custon-sabia.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'static/css/landing-page.css' %}" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    </head><body>
        <div class="cover">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><span>Sobre</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="/login/"><i class="fa fa-fw fa-lg fa-sign-in"></i>Entrar</a>
                            </li>
                            <li>
                                <a href="#">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cover-image" style="background-image : url('{% static "static/img/intro.jpg" %}')"></div>
            <div class="container">
                <div class="row">
                    <div class="intro-header">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Bem-vindo!</h1>
                            <h3>Desenvolver atividades baseadas em projetos ficou fácil!</h3>

                            <br>
                            <br>
                        </div>
                        <a href="/cadastrar/" class="btn btn-lg btn-primary">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static "static/img/view.jpg" %}" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-primary">Exercite a curiosidade!</h1>
                        <h3>Mais autonomia</h3>
                        <p>Aprendizagem baseada em projetos é a abordagem ideal para que os estudantes possam desenvolver a autonomia e tomada de decisões. Cada envolvido é um sujeito ativo na construção do conhecimento e que portanto é responsável por seu aprendizado.<br>A abordagem baseada em projetos utiliza a motivação dos estudantes como catalisador das mudanças, portanto é natural que os projetos sejam em si interessantes, motivadores e altmente construtivos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">Habilidades reais!</h1>
                        <h3>Aprendizado significativo</h3>
                        <p>Ao depararem-se com desafios do mundo real, os estudantes precisam desenvolver soluções tal qual farão no cenário real. Isso significa praticar e não simplesmente testarem seu poder de memorização ou lidarem com problemas artificiais.&nbsp;O resultado é um aprendizado significativo, útil e aplicável.<br>Cada vez mais o cenário global precisa de pessoas articuladoras, com senso crítico e poder de mudanças. Envolver os estudantes na aprendizagem baseada em projetos significa torná-los capazes de enfrentar os desafios cotidianos com todas as habilidades necessárias para o sucesso.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static "static/img/Bewerbung-optimieren-Tipps-Beispiele.jpg" %}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>


<div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>




</body>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</html>