{%include "header.html" %}

<!-- Modal -->
 <div class="modal fade" id="myModal">
     <form class="well" method="post" action="/salvar_espaco/">
         {% csrf_token %}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Novo espaço de projeto</h4>
          </div>
          <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label class="control-label">Digite o nome do espaço:</label>
                <input class="form-control" type="text" id="nomeEspaco" name="nomeEspaco">
              </div>
            </form>
          </div>
          <div class="modal-footer">
              {% csrf_token %}
            <a class="btn btn-default" data-dismiss="modal">Fechar</a>
            <button id="salvar" type="submit"  name="salvar" class="btn btn-primary">Criar</button>
          </div>
        </div>
      </div>
     </form>
 </div>

<div class="section">
    <div class="background-image" style="background-image : url('http://images8.alphacoders.com/405/405672.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
              <div class="alert alert-dismissable alert-success">
              <center> Bem-vindo aos espaços de projeto de aprendizagem do AProAp! Você poderá
                ingressar no espaço de sua turma a partir daqui. </center>
            </div>
            {% if user.is_staff %}
                <a class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-folder-open"></i>Novo Espaço</a>
            {% endif %}
          </div>
        </div>
      </div>
</div>

<div class="section">
    <div class="background-image" style="background-image : url('http://www.solidbackgrounds.com/images/1280x1024/1280x1024-light-sky-blue-solid-color-background.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    {% for espaco in espacos %}
                        <li class="list-group-item">
                            <a href="{% url 'lobby' espaco.slugProjeto%}"> {{ espaco }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12 text-right">
                <ul class="pagination">
                    <li><a href="#">Prev</a>
                    </li>
                    <li><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">Next</a>
                    </li>
                </ul>
            </div>
         </div>
    </div>
</div>

{%include "footer.html" %}