{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Kenneth Kufluk 2008/09/10 -->
  <title>js-mindmap demo - JavaScript Mindmap</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="{% static 'static/css/MapViewer/js-mindmap.css' %}" rel="stylesheet">
  <link href="{% static 'static/css/MapViewer/style.css' %}" rel="stylesheet">
  <link href="{% static 'static/css/litetooltip.min.css' %}" rel="stylesheet">

  <!-- jQuery -->
  <script src="{% static 'static/js/jquery-1.11.3.min.js' %}"></script>
  <!-- LiteTooltip -->
  <script src="{% static 'static/js/litetooltip.min.js' %}"></script>
  <!-- UI, for draggable nodes -->
  <script src="{% static 'static/js/jquery-ui.custom.min.js' %}"></script>

  <!-- Raphael for SVG support (won't work on android) -->
  <script src="{% static 'static/js/MapViewer/raphael-min.js' %}"></script>

  <!-- Mindmap -->
  <script src="{% static 'static/js/MapViewer/js-mindmap.js' %}"></script>

  <!-- Kick everything off -->
  <script src="{% static 'static/js/MapViewer/script.js' %}"></script>

</head>
<body>

  <ul>
    <li><a href="/projeto/{{ slug }}/sintese/">{{ projeto.questaoInvestigacao }}</a>
      <ul>
        {% for i in conhecimentos %}
        <li><a href="/projeto/{{ slug }}/{{ i.slugConhecimento }}/sintese/" title="teste">{{ i.conhecimentoPrevio }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>

</body>
</html>