  {% load static %}
    <!-- Custom CSS -->
    <link href="{% static 'static/css/shop-item.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% include "header.html" %}
   <div class="section">
   <div class="background-image" style="background-image : url('http://images8.alphacoders.com/405/405672.jpg')"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="lead">Unidades de Investigação do Projeto</p>
          <div class="list-group">
            {% for un in numeroUnidades %}
                <a href="/projeto/{{ slug }}/unidade/{{ un }}/" class="list-group-item">{{ un }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="thumbnail">
            <div class="caption-full">

              <h4> Unidades de investigação: Dividindo e organizando o conhecimento</h4>
              <p>Unidades de investigação organizam as certezas provisórias e dúvidas temporárias
                  do grupo do projeto para facilitar a validação e resposta aos itens.
                  Ao lado, é possível visualizar as unidades geradas pelo ambiente. Dentro de cada uma delas
                  encontram-se os conhecimentos prévios realizados na etapa anterior.
              </p>
              <p>Sinta-se livre para explorar as unidades e visualizar os itens! Se necessário,
                  é possível incluir um novo item para que possa ser investigado.
              </p>
              <p>Dentro das unidades, você terá acesso aos itens pendentes e poderá associá-los à sua responsabilidade.
                  Desta forma, você será o principal envolvido na validação e resposta daquele item. Entretanto, caso o
                  item seja muito difícil para ser resolvido sozinho, você poderá pedir ajuda para seus colegas.
                  Você poderá associar quantos itens achar necessário, mas lembre-se de sempre atualizar seu cronograma!
              </p>
              <p> Participe de seu projeto!</p>
            </div>
            <div class="ratings">
              <p>Progresso total das unidades até agora</p>
              <p class="pull-right">3 participantes</p>
              <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty">&nbsp;Concluída</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              {% if unidade != None %}
                  <a class="btn btn-primary" href="/projeto/{{ slug }}/unidade/{{ unidade }}/detalhes/">Ir ao espaço da unidade</a>
              {% endif %}
            </div>
          </div>
          <h4>Conhecimentos pendentes</h4>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="well">
            <div class="text-right">
              <a class="btn btn-success">Comente sobre o projeto!</a>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">Anonymous
                <span class="pull-right">12 days ago</span>
                <p>I've alredy ordered another one!</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">Anonymous
                <span class="pull-right">15 days ago</span>
                <p>I've seen some better than this, but not at this price. I definitely recommend
                  this item.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>